@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
body{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    border:1px solid blue;
    gap:20px;
    width: 200px;
}
button{
    background-color: aliceblue;
    border: none;
}